.sub-page {
  margin-bottom: 30px;
  display: flex;
  border-bottom: 2px solid rgb(231, 231, 231);
  li {
    list-style-type: none;
  }
  .timeline {
    padding: 10px 20px 10px 0px;
    color: rgb(179, 179, 179);

    &-icon {
      margin-right: 5px;
    }
    &-title {
      font-weight: 700;
    }
    &:hover {
      border-bottom: 2px solid rgb(24, 120, 230);
      background-color: rgb(24, 120, 230);
    }
  }
  .about {
    padding: 10px;
    color: rgb(83, 83, 83);
    &-icon {
      margin-right: 10px;
    }
    &-title {
      font-weight: 700;
    }
    &:hover {
      border-bottom: 2px solid rgb(24, 120, 230);
      background-color: rgb(24, 120, 230);
    }
  }
}
